.card {
  user-select: none;
  width: 10rem;
  height: 15rem;
  background-color: grey;
  border: 2px solid green;
  padding: 1rem;
  border-radius: 1rem;
}

.stack {
  margin: 1rem;
  padding: 0.2rem;
  border: 2px solid black;
  border-radius: 1rem;
}
